body {
  background-color: black;
}

.InputFormButton {
  background-color: rgb(85, 1, 85);
  color: white;
  font-size: 20px;
  border: 0; 
  margin-top: 10px;
  padding: 8px 15px;
}

.InputFormButton:hover {
  cursor: pointer;
}

.smallerH2 {
  margin-top: 0px;
  margin-bottom: 8px;
}

.ContentsDivPadding {
  padding-left: 30px;
  padding-right: 30px;
}